<div class="bg-pic">
    <div
        class="container"
        [class.hid]="!toggle"
    >
        <div>
            <div class="ramm-cont">
                <h2
                    (click)="makeAlert()"
                    class="rammstein"
                >RAMMSTEIN</h2>
            </div>
        
            <button
                class="toggle"
                (click)="toggleCards()"
            >{{ buttonText }}</button>
        </div>
        
        <div *ngIf="toggle; else noCards">
            <div class="cards">
                <app-card
                    *ngFor="let iterCard of cards"
                    [card]="iterCard"
                ></app-card>
            </div>
            <app-fav></app-fav>
        </div>
        
        <ng-template #noCards>
            <p class="no-cards">Hidden</p>
        </ng-template>
    </div>
</div>