@font-face {
    font-family: 'Rammstein';
    src: url('../fonts/rammstein.ttf') format("truetype");
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}